  <mat-toolbar color="primary">
    <a mat-button routerLinkActive="higlighted-link" routerLink="/elements">Elements</a>
    <a mat-button routerLinkActive="higlighted-link" routerLink="/collections" >Collections</a>
    <a mat-button routerLinkActive="higlighted-link" routerLink="/views" >Views</a>
    <a mat-button routerLinkActive="higlighted-link" routerLink="/mods" >Modules</a>
  </mat-toolbar>

  <mat-card class="mt-3">
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>

